include ./menu.pug
mixin head()
    .topbar
        .prev-next-buttons
            button(type="button" class="fa fas fa-chevron-left")
            button(type="button" class="fa fas fa-chevron-right")
        
        .navbar
            ul(class="inner-navbar")
                if (user)
                    li
                        a(href="/user/premium") Premium
                li 
                    a(href="#") Support
                li
                    a(href="#") Download
                li.divider | 
                if (user)
                    img(
                        src=user.avatar
                        alt="User Avatar"
                        width="35px"
                        height="auto"
                        class="rounded-image"
                        id = "menuButton"
                    ) 
    
                    +menu()
                else 
                    li
                        a(href="/user/signup") Sign Up
            if (!user)
                button(type="button") 
                    a(href="/user/login" , style="text-decoration:none") Log In
    link(rel="stylesheet", href="/css/home.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer")
    script(src="https://kit.fontawesome.com/23cecef777.js", crossorigin="anonymous")
    script(src="/js/profile.js")