extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/header2.pug

block main
  .main-container
    +head()
    
    .inner-form
      .box-search
        form(
          id="searchForm"
          action="/search/result"
          method="GET"
          class="search-form"
        )
          div(class="inner__form-group")
            input(
              type="text"
              placeholder="What do you want to listen to?"
              class="inner__input-group"
              name="keyword"
              value=keyword
            )
            button(
              type="submit"
              class="inner__btn-group"
              onclick="searchSongs()"
            ) 
              <i class="fa-solid fa-magnifying-glass"></i>
        .inner-suggest
          .inner-list
      
  .container.my-3
    //- .row
    //-   .col-12
    //-     +box-head(pageTitle)
    .row
      each song in songs
        .col-6.mb-3
          div(class="song-item")
            div(class="inner-image")
              a(href=`/songs/detail/${song.slug}`)
                img(src=song.avatar)
            div(class="inner-content")
              div(class="inner-title")
                a(href=`/songs/detail/${song.slug}`) #{song.title}
              div(class="inner-singer") <i class="fa-solid fa-microphone-lines"></i> #{song.infoSinger.fullName}
              div(class="inner-like") <i class="fa-solid fa-thumbs-up"></i> #{song.like}
              div(class="inner-time") <i class="fa-regular fa-clock"></i> Hôm nay
  script(src="/js/search.js")
  link(rel="stylesheet", href="/css/search.css")
